/*Reset*/

*, *::before, *::after {
    box-sizing: border-box;
}

/*General*/

html {
    font-size: 14px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.625;
    margin: 0;
    color: #6F6F6F;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

img {
    max-width: 100%;
    height: auto;
}

/*Header*/

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.922045), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)), url(img/eggs.jpg) center center / cover no-repeat;
    color: #FFF;
}

.topbar {
    padding: 18px 20px;
    font-size: .875rem;
    text-transform: uppercase;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
}

.menu-item a:hover {
    color: #C89446;
}

.menu-button {
    border: solid 1px #C89446;
    padding: 7px 10px;
    transition-property: color, background-color;
    margin-top: 5px;
}

.menu-button:hover {
    background: #C89446;
    color: #FFF;
}

.baseline {
    padding: 50px 0 70px 0;
    text-align: center;
    line-height: 1;
}

.baseline-welcome {
    font-family: 'Pinyon Script', cursive;
    color: #C89446;
    font-size: 2.2rem;
    display: block;
}

.baseline-name {
    display: block;
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.baseline-slogan {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*Home Section*/

.home-section {
    padding-top: 9px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.container-small {
    max-width: 960px;
}

.container-large {
    max-width: 1150px;
}

.block {
    margin-bottom: 50px;
}

.block-img {
    max-width: 350px;
    margin: 0 auto;
    border: solid 1px #C89446;
}

.block-img img {
    display: block;
    position: relative;
    z-index: 1;
}

.block-centered {
    text-align: center;
}

.block-centered .block-body {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    margin: 1rem 0;
}

.title::before {
    content: '';
    width: 24px;
    height: 2px;
    background: #C89446;
    display: inline-block;
    margin-bottom: .5rem;
}

.title span {
    font-size: 2.5rem;
    font-family: 'Pinyon Script', cursive;
    color: #C89446;
    display: block;
    text-transform: none;
}

.more {
    color: #C89446;
}

.more a::after {
    margin-left: .7em;
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background: url(img/arrow-right.svg) center center no-repeat;
    transition: transform .3s;
}

.more a:hover {
    text-decoration: underline;
}

.more a:hover::after {
    transform: translateX(5px);
}

/*Ingredients Menu*/

.ingredients-menu {
    margin: 40px 0;
    font-weight: 600;
    color: #383838;
    text-align: center;
    text-transform: uppercase;
}

.ingredients-menu a {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.ingredients-menu a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    opacity: 0;
    background: #C89446;
    transition: .3s;
}

.ingredients-menu .active::after, .ingredients-menu a:hover::after {
    bottom: 0;
    opacity: 1;
}

/*Menu Summary*/

.menu-summary-item {
    position: relative;
    padding-left: 120px;
    margin-bottom: 30px;
}

.menu-summary-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.menu-summary-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: #383838;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
}

.menu-summary p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.menu-summary-price {
    font-size: 2.5rem;
    font-family: 'Pinyon Script', cursive;
    line-height: 1;
    color: #C89446;
}

/*Reservation*/

.reservation {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.922045), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)), url(img/reservation.jpg) center center / cover no-repeat;
    color: rgba(255, 255, 255, .6);
    padding: 50px 0;
}

.reservation .title {
    color: #FFF;
}

.reservation select {
    background: no-repeat right .5rem center url(img/select.svg);
}

.reservation input, .reservation select {
    padding: 0 .5rem;
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #6F6F6F;
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    color: #FFF;
    font-size: .875rem;
    font-family: 'Source Sans Pro', serif;
    transition: background .3s, border-color .3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.reservation input:focus, .reservation select:focus {
    background-color: rgba(255, 255, 255, .1);
    border-color: #C89446;
}

.button {
    font-weight: 600;
    font-size: 0.875rem;
    color: #FFF;
    background: #C89446;
    border: none;
    padding: 11px 1rem;
    border: solid 1px transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.reservation input, .reservation select, .button {
    border-radius: 3px;
}

.reservation p {
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.reservation .button {
    width: 100%;
}

.reservation .block-centered .block-body {
    max-width: 825px;
}

select option {
    color: #000;
}

.button:hover {
    background: transparent;
    border: solid 1px #C89446;
}

/*Recettes*/

.recipes {
    padding: 50px 0;
    background: top left / 100vw auto url(img/news-bg.png) no-repeat;
}

.recipes .more {
    display: block;
    margin-top: 60px;
    text-align: right;
}

.recipes-list {
    font-weight: 300;
    font-size: 1.125rem;
    max-width: 920px;
    margin-left: auto;
}

.recipes-list strong {
    color: #383838;
    font-weight: 700;
}

.recipes-list-item {
    border-bottom: 1px solid #F2F2F2;
    margin-top: 1em;
    padding-bottom: 1em;
}

.recipes-list-item :last-child {
    border-bottom: 0;
}

.recipes-list-item p {
    margin: 0;
}

.recipes-date {
    width: 60px;
    flex: none;
    line-height: 1;
    text-transform: uppercase;
}

.recipes-date strong {
    font-size: 1.75rem;
    display: block;
    line-height: 1.2;
}

.map {
    width: 100%;
    height: 460px;
}

.footer {
    background: #383838 bottom right no-repeat;
    font-weight: 300;
    color: #FFF;
    padding: 40px 0;
}


.footer-column {
    margin-bottom: 2rem;
}

.footer-column ul {
padding-left: 0;
list-style: none;
}

.footer-column ul li::before {
content: '- ';
color: #C89446;
font-weight: 700;
}

.footer-title {
    font-weight: 700;
    color: #C89446;
    margin-bottom: 1.25em;
    text-transform: uppercase;
}

.footer-credit {
    font-size: .937rem;
}

.footer-credit span {
    font-weight: 400;
}

@media only screen and (min-width: 600px) {
    /*General*/
    html {
        font-size: 16px;
    }
    /*body {
        background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(screenshot.png) top center no-repeat;
    }*/
    /*Header*/
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1150px;
        margin: 0 auto;
    }
    .logo {
        margin-bottom: 0;
    }
    .menu-button {
        margin-top: 0;
        margin-right: 0;
    }
    .baseline {
        padding: 125px 0 232px;
    }
    .baseline-welcome {
        font-size: 3.75rem;
    }
    .baseline-name {
        font-size: 4.375rem;
        letter-spacing: 12px;
        padding-top: 8px;
        padding-bottom: 18px;
    }
    .baseline-slogan {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 800px) {
    /*Home Section*/
    .block {
        margin-bottom: 100px;
    }
    .block-last {
        margin-bottom: 60px;
    }
    .block-left, .block-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .block-left .block-img {
        margin-left: 30px;
    }
    .block-right .block-img {
        width: 350px;
        margin-right: 30px;
    }
    .block-img {
        border: none;
        position: relative;
    }
    .block-img::before {
        content: '';
        display: block;
        border: solid 1px #C89446;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .block-right .block-img::before {
        top: -30px;
        left: auto;
        right: -30px;
    }
    .block-left .block-body {
        margin-left: 20px;
    }
    .block-right .block-body {
        margin-right: 20px;
        order: -1;
    }
    .block-left .block-body, .block-right .block-body {
        width: 445px;
        flex: none;
    }
    .title {
        margin-bottom: 1rem;
    }
    .more {
        display: block;
        margin-top: 1.3rem;
    }
    .home-section {
        background: top 95px right 0 url(img/oranges.png) no-repeat, top 640px left 0 url(img/spices.png) no-repeat;
    }
    .ingredients-menu a {
        margin: 0 33px;
    }
    /*Menu Summary*/
    .menu-summary {
        position: relative;
        padding: 85px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu-summary::before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 425px;
        height: 425px;
        border: solid 1px #C89446;
        transform: translate(-50%, -260px) rotate(45deg);
    }
    .menu-summary-item {
        padding-left: 192px;
        width: calc(50% - 35px);
        margin-bottom: 110px;
    }
    .menu-summary-item:nth-child(even) {
        text-align: right;
        padding-left: 0;
        padding-right: 192px;
    }
    .menu-summary-item:nth-child(even) .menu-summary-price {
        margin-left: auto;
    }
    .menu-summary-item:nth-child(even) .menu-summary-image {
        left: auto;
        right: 0;
    }
    .menu-summary-image {
        width: 160px;
    }
    .menu-summary-title {
        margin-top: 0;
        line-height: 1.2;
    }
    .menu-summary-title, .menu-summary p {
        background: #FFF;
    }
    .menu-summary-price {
        padding-top: 4px;
        width: 85px;
        background: #FFF;
    }
    /*Bloc Chief*/
    .bloc-chief {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-top: 25px;
    }
    .bloc-chief .more {
        margin-top: 70px;
    }
    .bloc-chief .block-img::before {
        display: none;
    }
    .bloc-chief .block-img {
        flex: none;
        width: 404px;
        order: 2;
    }
    /*Reservation*/
    .reservation {
        padding: 100px 0;
    }
    .reservation-form-row {
        margin: 64px 0;
        display: flex;
        justify-content: space-between;
    }
    .reservation-form-row input, .reservation-form-row select {
        width: calc(33.33% - 20px);
        margin-bottom: 0;
    }
    .reservation .button {
        width: calc(33.33% - 20px);
    }
    /*Recettes*/
    .recipes {
        padding: 20px 0;
        background-size: 589px auto;
    }
    .recipes-list-item:first-child {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .recipes-list-item:last-child {
        padding-bottom: 0;
    }
    .recipes .title {
        text-align: right;
    }
    .recipes .container>p {
        text-align: right;
        max-width: 716px;
        margin-left: auto;
    }
    .recipes-date {
        width: 95px;
    }
    .footer {
        background-image: url(img/splash.png);
    }
    .footer a {
    text-decoration: underline;
    }
    .footer a:hover {
        color: #C89446;
    }
    .footer-columns {
        display: flex;
        justify-content: space-between;
    }
    .footer-column {
        width: 290px;
        margin-right: 50px;
    }
    .footer-column:first-child {
        width: 450px;
    }
    .footer-column:last-child {
        margin-right: 0;
        flex: none;
    }
}